body{
  font-family: 'Trebuchet MS', 'Lucinda Sans Unicode', 'Lucinda Grande', 'Lucinda Sans', Arial, sans-serif;
  background-image: url(../page-images/table.png);
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

h1{
  color: goldenrod;
  font-size: 65px;
}

#message-el{
  font-style: italic;
  font-size: 28px;
}

button{
  color: #016f32;
  font-size: 30px;
  width: 250px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 2px;
  margin-top: 2px;
  display: block;
}

#button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixed-btn{
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0; 
  transition: border-radius 0.5s;
}

.home-btn {
  font-size: 24px;
  position: fixed;
  top: 50px;
  right: 40px;
  border-radius: 20px;
}

.fixed-btn:hover {
  color: #E7DECC;
  border-radius: 25px;
}